<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<section>
    <a href="/" class="backBtn">Back</a>
    <form method="POST" action="/new">
        <label for="messageUser">User: </label><br>
        <input type="text" id="messageUser" name="messageUser"><br>
        <label for="messageText">Message: </label><br>
        <textarea name="messageText" id="messageText"></textarea><br>
        <button type="submit" class="submitBtn">Submit</button><br>
    </form>
</section>
